.select__control {
  background: 0 !important;
}
.interests-selector {
  margin: 0.5rem 0.25rem;
}
.readonly-editor {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  letter-spacing: .03em;
  line-height: 1.75em;
}

@media only screen and (max-width: 600px) {
  figure img {
    width: 100% !important;
  }
}
.custom-scrollbar {
  padding-bottom: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track
{
  border-radius: 10px;
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
	background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar
{
	height: 6px;
	background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar-thumb
{
  border-radius: 10px;
	background-color: #1565c0;
}